$g-transition-timing:                                       .3s !default;
$g-transition-timing-sm:                                    .2s !default;
$g-transition-timing-md:                                    .4s !default;
$g-transition-function:                                     ease-in-out !default;

.hero-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  h1 {
    color: white;
  }
}

.hero-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/temp_banner.jpg");
}

.hero-experience {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/experience_banner.jpg");
}

.hero-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/contact_banner.jpg");
}

.hero-projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/projects_banner.jpg");
}

.white {
  background: #F7F7F7;
  color: black !important;
}

.blue {
  background: #003853;

  h5 {
    color: white;
  }
}

.project-card {
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.form {
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.transition-3d-hover {
  transition: all $g-transition-timing-sm $g-transition-function;

  &:hover,
  &:focus {
    transform: translateY(-3px);
  }
}

.btn-primary-blue {
  background: none !important;
  color: #003853 !important;
  border-radius: 0px !important;
  border-color: #003853 !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.btn-primary-blue:hover {
  background: #003853 !important;
  color: white !important;
}

.btn-primary-white {
  background: none !important;
  color: white !important;
  border-radius: 0px !important;
  border-color: white !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.btn-primary-white:hover {
  background: white !important;
  color: #003853 !important;
}

.ll-colour {
  color: #492660;
}

.ll-divider {
  border-top:  2px solid #492660;
  transform: rotate(-0.09deg);
}

.ll-bg {
  background: #492660 !important;
}

.ll-text {
  color: #763f98;
}

.bmo-colour {
  color: #0079c1;
}

.bmo-divider {
  border-top:  2px solid #0079c1;
  transform: rotate(-0.09deg);
}

.bmo-bg {
  background: #0079c1 !important;
}

.bmo-text {
  color: #ed1c24 !important;
}
.employment-label {
  position: relative;
  height: auto;

  h5 {
    color: white;
  }
}

.employment {
  display: flex;
  flex-direction: column;
}

.event-divider {
  border-top:  2px solid #003853;
  transform: rotate(-0.09deg);
}

.description-text {
  font-size: 1.25rem;
}

.color-grey {
  color: #828282;
}

::placeholder {
  color:  #CDCDCD !important;
}

textarea {
  min-height: 15vh;
}